<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.springboot.mapper.PostsMapper">
    <insert id="insertPosts" parameterType="com.bit.springboot.model.entity.Posts">
        insert into posts
        (title,content,images,tags,userId,createTime,authority,avatarUrl,userName)
        values
        (#{title},#{content},#{images},#{tags},#{userId},#{createTime},#{authority},#{avatarUrl},#{userName})
    </insert>
</mapper>
